body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(107, 115, 115, 0.614);
    text-align: center;
    position: relative;
}
h1{
    color: white;
    position: relative;
    line-height: 160%;
    width: 210px;
    border: solid 3px #162b13;
    border-radius: 25px;
    background-color:#19f50053 ;
    margin: 2px;
    left: 10%;
    word-wrap: none;
    font-size: 25px;
}
nav{
    background: white;
    width: 100%;
    height: 900px;
}
ul{
    position: fixed;
    display: flex;
    z-index: 2;
    background-color: #1206f5a0;
    border-bottom: solid;
    height: 50px;
    width: 100%;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
    position:relative;
    left: 65%;
    margin: 2px;
    margin-left: 3px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.392);
    border: solid 3px rgba(19, 35, 78, 0.915);
    border-radius: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    position: relative;
}
.img{
    display: flex;
    position: relative;
    bottom: 50%;
    border-bottom: solid 50px blue;
    transform: translate(0,-2%);
    height: 800px;
    width: 100%;
    background-color: black;
}
.apresentando{
    position: relative;
    top: 530px;
    left: -190px;
    height: 30px;
    color: white;
}
img{
    position: relative;
    top: 550px;
    right: -10px;
    margin-left: 10px;
   max-height: 100px;
   border: solid rgb(0, 4, 255);
   border-radius: 50%;
}
img:active{
    transition: 0.3s;
    max-height: 90px;
}
img:not(:active){
    transition: 0.3s;
    max-height: 100px;
}
.html:hover{
    transition: 1s;
   padding: 50px;
    background-color: rgb(226, 62, 2);
    cursor: pointer;
}
.css:hover{
    transition: 1s;
    background-color: cadetblue;
    padding: 50px;
    cursor: pointer;
}
.html:active,.css:active{
    transition: 0.5s;
    background-color: black;
    cursor:default;
}

.html:not(:hover),.css:not(:hover){transition: 1s;}
.perfil{
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    border-radius: 50%;
    right: 70%;
    background-color: gray;
    height: 250px;
    width: 250px;
    z-index: 1;
}
li:active,a:active{
    background-color: black;
    color: white;
}

nav{
    position: relative;
}
.list{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    position: absolute;
    width: 99.7%;
    border: solid;
    top: 50%;
    grid: 
    'c b a'
    'c b a'
    'c b a'
    /25% 49.7% 25%;
    background-color: rgb(80, 79, 79);
}
hr{
    background: black;
}
.cotidiano{
    position: relative;
    border: solid;

 grid-area:a ;
 margin: 5px;
 background-color: #b4b8ea;
}
.jogos{
    position: relative;
    border: solid;

    margin: 5px;
    grid-area:b ;
    background-color: #b4b8ea;
}
.projetos{
    position: relative;
    border: solid;
    grid-area:c ;
    margin: 5px;
    background-color: #b4b8ea;
}
.borda{
    border-radius: 30px;
}